{% extends "base.html" %}
{% load static %}

<title>{% block title %}Ask question{% endblock %}</title>

{% block pageName %} <h3 class="titles-mr">Ask question</h3>{% endblock %}

{% block content %}
<div class="form-error">{{ Form.errors.as_data }}</div>

<form novalidate name="ask-form" class="post-form" onsubmit="return validateForm()" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<div>
		<button type="submit" class="btn my-btn">Ask!</button>
	</div>
	<script src="{% static 'js/formValidation.js' %}"></script>
</form>
{% endblock %}

{% block paginator %} {% endblock %}