{% extends "base.html" %}
{% load static %}

<title>{% block title %}Ask question{% endblock %}</title>

{% block rightNavbar%}
<img src="{% static "img/moon.jpg" %}" class="img-resize" alt = "">
<ul class="navbar-nav">
	<li class="nav-item">
		<a class="nav-link" href="#">Dr.House</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="settings">Settings</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Log out</a>
	</li>
</ul>
{% endblock %}

<h3 class="titles-mr">{% block pageName %}New Question{% endblock %}</h3>

{% block content %}
<p class="form-error">Sorry, maximum size of questions title is 50 words!</p>
<form>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Title</label>
		<div class="col-sm-10">
			<input class="form-control" id="inputEmail3" placeholder="How to do something?">
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Text</label>
		<div class="col-sm-10">
			<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Text" rows="10"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Tags</label>
		<div class="col-sm-10">
			<input class="form-control" id="inputEmail3" placeholder="moon, house, food">
		</div>
	</div>
</form>

<div>
	<button type="submit" class="btn my-btn">Ask!</button>
</div>
{% endblock %}	