{% extends "base.html" %}
{% load static %}

<title>{% block title %}Hot questions{% endblock %}</title>

{% block main_menu %}
<ul class="navbar-nav mr-sm-3">  <!-- move search mr-auto-->
	<li class="nav-item">
		<a class="nav-link" href="\">Questions<span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="hot">Hot Questions</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="tags">Tags</a>
	</li>
</ul>

{% endblock %}

{% block rightNavbar%}
<img src="{% static "img/moon.jpg" %}" class="img-resize" alt = "">
<ul class="navbar-nav">
	<li class="nav-item">
		<a class="nav-link" href="#">Dr.House</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="settings">Settings</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Log out</a>
	</li>
</ul>
{% endblock %}

<h3 class="titles-mr">{% block pageName %}Hot questions{% endblock %}</h3>