
<ul class="navbar-nav mr-sm-3">  <!-- move search mr-auto-->

	<!--{ with request.path as the_url%} ... { endwith %} without page_alias-->
		
	{% if page_alias == "questionList" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'base_questions' %}">Questions <span class="sr-only">(current)</span></a>
	</li>

	{% if page_alias == "tag" or page_alias == "allTags" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<!--a class="nav-link" href="{% url 'tag_questions' tag_name='all' %}">Tags</a>-->
		<a class="nav-link" href="{% url 'all_tags'%}">Tags</a>
	</li>

	{% if page_alias == "ask" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'ask_question' %}">Ask</a>
	</li>
</ul>

<form class="form-inline mt-100 mt-md-0 mr-auto">
	<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	<button class="btn search-button my-2 my-sm-0" type="submit">Search</button>
</form>

{% if user.is_authenticated %}

<ul class="navbar-nav">
	{% if page_alias == "settings" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'settings' user_name=user_profile.user %}">Settings</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'logout' %}">Log out</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="">{{user}}</a>
	</li>
</ul>

<img src="/{{user_profile.avatar.url}}" class="img-resize" alt = "">

{% else %}
<ul class="navbar-nav">
	{% if page_alias == "signIn" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'signin' %}">Log in</a>
	</li>
	
	{% if page_alias == "signUp" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'signup' %}">Register</a>
	</li>
</ul>

{% endif %}
