
<ul class="navbar-nav mr-sm-3">  <!-- move search mr-auto-->

	<!--{ with request.path as the_url%} ... { endwith %} without page_alias-->
		
	{% if page_alias == "questionList" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'base_questions' %}">Questions <span class="sr-only">(current)</span></a>
	</li>
	
	{% if page_alias == "hot" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'hot_questions' %}">Hot Questions</a>
	</li>

	{% if page_alias == "tag" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'tag_questions' tag_name='all' %}">Tags</a>
	</li>
</ul>

<form class="form-inline mt-100 mt-md-0 mr-auto">
	<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	<button class="btn search-button my-2 my-sm-0" type="submit">Search</button>
</form>


{% if page_alias == "tag" or page_alias == "" or page_alias == "signIn" or page_alias == "signUp" %}
<ul class="navbar-nav">
	{% if page_alias == "signIn" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'signin' %}">Log in</a>
	</li>
	
	{% if page_alias == "signUp" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'signup' %}">Register</a>
	</li>
</ul>
{% else %}

<ul class="navbar-nav">
	{% if page_alias == "settings" %}
	<li class="nav-item active">
	{% else %}
	<li class="nav-item">
	{% endif %}
		<a class="nav-link" href="{% url 'settings' user_name='Mr_Smith' %}">Settings</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="">Log out</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="">Mr.Smith</a>
	</li>
</ul>

{% endif %}
