{% extends "base.html" %}
{% load static %}

<title>{% block title %}Askme{% endblock %}</title>

{% block rightNavbarImg %}
<img src="{% static "img/moon.jpg" %}" class="img-resize" alt = "">
{% endblock %}

{% block pageName %}<h3 class="titles-mr">Settings: {{user}}</h3>{% endblock %}
{% block content %}
<img src="/{{user_profile.avatar}}"/>
<form method="POST" class="post-form">
	{% csrf_token %}
	{{ form1.as_p }}
	{{ form2.as_p }}
	<div>
		<button type="submit" class="btn my-btn">Update</button>
	</div>
</form>
{% endblock %}

{% block paginator %} {% endblock %}
