{% extends "base.html" %}
{% load static %}


{% block content %}
{% for question in questions %}
<div>
	<div class="row question-block">
		<div class="col-md-2"> 
			<img src="{% static "img/cat2.jpeg" %}" alt = "" class="avatar-img">
			<form>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label">Like</label>
					<div class="col-sm-3">
						<input type="number" min="0" max="50" step="1" value="2" size="6">
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-10">
			<h4><a href="{% url 'question_page' question_id=1 %}">{{ question.title }} </a></h4>
				<div>{{ question.text }}</div>
				<div>{{ page.number }}</div>
				<p>kjjbjhbjh</p>
				<a style="margin-right:20px" href="">answers(3)</a>
				Tags: <a href="">Moon</a>
				<a href="">Space</a>
			</p>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block paginator %}

{% for page in questions.paginator.page_range %}
{% if page == questions.number %}
	<a href="?page={{ page }}" type="button" class="btn btn-dark active">{{ page }}</a>
{% else %}
	<a href="?page={{ page }}" type="button" class="btn btn-dark">{{ page }}</a>
{% endif %}
{% endfor %}

{% endblock %}

