{% extends "base.html" %}
{% load static %}

{% block pageName %} <h3 class="titles-mr">New questions </h3>{% endblock %}

{% block content %}
{% for question in questions %}
<div>
	<div class="row question-block">
		<div class="col-md-2"> 
			<img src="{{question.author.avatar.url}}" alt = "" class="avatar-img">
			<p><b><i>{{question.author.user}}</i></b></p>
			<form>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label">Like</label>
					<div class="col-sm-3">
						<input type="number" min="0" max="50" step="1" value="2" size="6">
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-10">
			<h4><a href="{% url 'question_page' question_id=1 %}"> {{ question.title }} </a></h4>
				<div>
					{{ question.text|safe|truncatewords:"50"|linebreaks }}
				</div>
				<div>{{ page.number }}</div>

				<a style="margin-right:20px" href="">Answers ({{question.number_of_answers}})</a>
				Tags: 			

				{% for tag in question.tags.all %}
					<!--<a href="{% url 'tag_questions' tag.name }">{{ tag.name }}</a>-->
					<a style="margin-right:10px" href="">{{ tag.name }}</a>
				{% endfor %}

				<p> Asked {{question.creationTime}} </p>
			</p>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block paginator %}

{% for page in questions.paginator.page_range %}
{% if page == questions.number %}
	<a href="?page={{ page }}" type="button" class="btn btn-dark active">{{ page }}</a>
{% else %}
	<a href="?page={{ page }}" type="button" class="btn btn-dark">{{ page }}</a>
{% endif %}
{% endfor %}

{% endblock %}

