{% extends "base.html" %}
{% load static %}

{% block title %} {{ question.title }} {% endblock %}

{% block pageName %} <h3 class="titles-mr"> Question: {{ question.title }}</h3> {% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-2"> 
		<img src="/{{question.author.avatar.url}}" alt = "" class="avatar-img">
		<p><b><i>{{question.author.user}}</i></b></p>
		<form>
			<div class="form-group row">
				<label class="col-sm-5 col-form-label">Likes</label>
				<div class="col-sm-3">
					<input type="number" min="0" max="50" step="1" value="2" size="6">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-10">
		<p> {{ question.text }} </p>
		<i>Tags: 
			{% for tag in question.tags.all %}				
				<a style="margin-right:10px" href="{% url 'tag_questions' tag_name=tag.name %}">{{ tag.name }}</a>
			{% endfor %}
		</i>
		<p align="right"><font size="2"> Rating: {{question.rating}} <br>
		Asked {{question.creationTime}}</font></p>
	</div>
</div>

<div>
{% if answers.count == 1 %}
	{{answers.count}} Answer
{% else %}
	{{answers.count}} Answers
{% endif %}
<hr>
</div>

<div id="answersList">
	{%for ans in answers%}
	<div class="row question-block">
		<div class="col-md-2"> 
			<img src = "/{{ans.author.avatar.url}}" alt = "" class="avatar-img">
			<p><b><i>{{ans.author.user}}</i></b></p>
			<form>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label">Likes</label>
					<div class="col-sm-3 likes">
						<input type="number" min="0" max="50" step="1" value="2" size="6">
					</div>
				</div>
			</form>
			<p>Rating: {{ans.rating}}</p>
		</div>
		<div class="col-md-10">
			{% if ans.title %}
				<h4>{{ans.title}}</h4>
			{% endif %}
			<p>{{ans.text}}</p>
			<p align="right"><font size="2">{{ans.creationTime}}</font></p>
		</div>
	</div>
	{% endfor %}
</div>

<hr>

{%if form != 'empty'%}
<form method="POST" class="post-form" id="answer-form">
	<label for="exampleFormControlTextarea1">Write your answer here:</label>
    {% csrf_token %}
    {{ form.as_p }}
    <!--input type="submit" value="Answer" /> --> 
    <button type="submit" class="btn my-btn">Answer</button>
</form>
{% else %}
<p>To answer questions you need to be <a href="{% url 'signin' %}?next={{request.path}}">logged in</a></p>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$("#answer-form").submit(function(e){
	var form = $(this);
    var url = form.attr('action');

    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {			   
			   newAnsList = $(data).find("#answersList");
			   $("#answersList").html(newAnsList);
			   window.scrollTo(0, 0);
			   form[0].reset();
			   alert("Your answer added");
			   //todo: newAns and append
           }
         });

    e.preventDefault(); //prevent default form submit
});
</script>
{% endblock %}


{% block paginator %}

{% for page in answers.paginator.page_range %}
{% if page == answers.number %}
	<a href="?page={{ page }}" type="button" class="btn btn-dark active">{{ page }}</a>
{% else %}
	<a href="?page={{ page }}" type="button" class="btn btn-dark">{{ page }}</a>
{% endif %}
{% endfor %}

{% endblock %}