{% extends "base.html" %}

<title>{% block title %}Askme: register{% endblock %}</title>

<h3 class="titles-mr">{% block pageName %}Registration{% endblock %}</h3>
{% block content %}
<p class="form-error">This email is already registered!</p>
<form>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Login</label>
		<div class="col-sm-3">
			<input class="form-control" id="inputEmail3" placeholder="Dr_House">
		</div>
	</div>

	<div class="form-group row">
		<label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Email address</label>
		<div class="col-sm-3">
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Nickname</label>
		<div class="col-sm-3">
			<input class="form-control" placeholder="Dr.House">
		</div>
	</div>

	<div class="form-group row">
		<label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" id="inputPassword3" placeholder="*********">
		</div>
	</div>

	<div class="form-group row">
		<label for="inputPassword3" class="col-sm-2 col-form-label">Repeat password</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" id="inputPassword3" placeholder="*********">
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Upload avatar</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" id="inputPassword3" placeholder="c:\avatar.jpg">
			<button type="submit" class="btn my-btn">Register</button>
		</div>
	</div>
</form>
{% endblock %}